.input:focus {
    outline: 1px solid rgb(63, 30, 207);
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border: 1px solid rgb(204, 20, 57);
    border-radius: 5px;
}

.errorInput:focus {
    border: none;
    outline: 1px solid rgb(63, 30, 207);
}

.error {
    color: red;
    margin-bottom: 5px;
}
