.radio {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;

    cursor: pointer;
    border:2px solid black;
    border-radius: 50%;
    
}

.radio::before {
content: "";
position: absolute;
left:2.5px;
top:2.5px;
width: 10px;
height: 10px;
border-radius: 50%;
background: black;

opacity: 0;
}


.radio:checked::before {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.label {
    display: flex;
    flex-direction: row;
    gap:13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 21px;
}

.options {
}
